* {
    margin: 0;
    padding: 0;
    font-family: arial;
    overflow-x: hidden;
    font-family: 'Exo 2';
}

main{
    background-image: url(Pics/background.jpg);
    background-attachment: fixed ;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}
.main {
    margin-top: 17.8vh;
    box-shadow: 0.65vw 0.98vh 0.98vh 0.33vw rgba(0, 0, 0, 0.2);
    width: 90vw;
    margin-left: 5vw;
    border-radius: 2.74vh;
    margin-bottom: 5.48vh;
    padding-bottom: 1vh;
    background-color: white;
    opacity: 0.9;
}
.main:hover{
    opacity: 1;
}
.title {
    margin: 1.37vh 0 4.11vh;
    font-weight: 600;
    font-size: 3.42vh;
    text-align: center;
}
.one{
    height: 2.4vh;
}
.matter {
    margin-left: 2.6vw;
}

.count {
    width: 1.95vw;
}

table {
    width: 80vw;
    margin-top: 2.05vh;
    margin-left: 2.6vw;
    margin-bottom: 2.05vh;
}

table, th, td {
    text-align: center;
    border: 0.07vw solid;
    border-collapse: collapse;
}

td {
    height: 6.85vh;
}

.Q {
    text-align: left;
    width: 32.55vw;
    padding-left: 0.33vw;
}

input {
    height: 6.85vh;
    width: 1.63vw;
}

.contact {
    margin-left: 2.6vw;
}

#email {
    margin-top: 2.74vh;
    border: none;
    border-bottom: 0.07vw solid #858B9C;
    width: 13.02vw;
    font-size: 2.19vh;
    padding-left: 0.33vw;
    outline: none;
}

textarea {
    margin-top: 2.74vh;
    font-size: 2.19vh;
    padding: 0.68vh;
}

#submit {
    margin-top: 1vh;
    margin-left: 74.87vw;
    width: 5.86vw;
    height: 5.48vh;
    border-radius: 2.74vh;
    border: none;
    color: white;
    background: linear-gradient(To right, rgb(55, 55, 186), rgb(24, 24, 132), rgb(13, 13, 101), rgb(2, 2, 52));
    font-size: 2.19vh;
    font-weight: bold;
    transition: 0.15s;
    box-shadow: 0.26vw 0.55vh 0.78vw 0.14vw rgba(0, 0, 0, 0.4);
    margin-bottom: 1.5vh;
}

#submit:hover {
    width: 6.51vw;
    height: 6.16vh;
    opacity: 0.7;
    border-radius: 6.85vh;
    font-size: 2.47vh;
    cursor: pointer;
    box-shadow: 0.33vw 0.68vh 0.78vw 0.2vw rgba(0, 0, 0, 0.6);
    margin-bottom: 0.9vh;
}
