* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    overflow-x: hidden;
    outline: none;
}

main {
    background-image: url("Pics/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main {
    box-shadow: 0.65vw 0.98vh 0.98vh 0.33vw rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 25vw;
    height: 51vh;
    opacity: 0.9;
    border-radius: 1.6vw;
    border-left: 0.1vw solid white;
    border-top: 0.1vw solid white;
    margin-left: 36vw;
    margin-top: 25vh;
    margin-bottom: 2vh;
}

.main:hover {
    opacity: 1;
}

.Password,
.title {
    margin: 2vh 0 3vh;
    font-weight: 600;
    font-size: 2.5vh;
    text-align: center;
    color: black;
}

#email,
#password {
    margin: 0 2vw 2vh;
    width: 20vw;
    height: 3vh;
    border-radius: 0.5vw;
    padding: 1.5vh;
    border: 0.1vw solid #858B9C;
}

#password {
    margin-bottom: 1vh;
}

.Forget {
    color: #858B9C;
    font-size: 1.5vh;
    margin-left: 17vw;
    transition: 0.15s;
}

.Forget:hover {
    cursor: pointer;
}

#login {
    width: 21vw;
    margin: 2vh 2vw 1vh;
    height: 5vh;
    background: linear-gradient(To right, rgb(0, 0, 0),  rgb(92, 92, 92),rgb(145,145, 145), rgb(92, 92, 92), rgb(0, 0, 0));
    border-radius: 0.7vw;
    border: none;
    color: white;
    font-size: 2.5vh;
    transition: 0.15s;
}

#login:hover {
    opacity: 0.8;
    cursor: pointer;
}

#login:active {
    color:#020234;
    background: white;
    border: 0.1vw solid;
    cursor: progress;
}

.Sign {
    margin-top: 2vh;
    font-size: 2vh;
    text-align: center;
    color: #858B9C;
}

a {
    text-decoration: none;
    color: #0000FF;
}

.end {
    margin-top: 3vh;
    font-size: 1.9vh;
    text-align: center;
    color: #858B9C;
}

.Google {
    margin-top: 1vh;
    margin-left: 7vw;
    height: 3.2vh;
    vertical-align: middle;
}

.Facebook {
    margin-top: 1vh;
    height: 4.5vh;
    vertical-align: middle;
}

.option {
    margin-top: 1vh;
    display: inline-block;
    color: #858B9C;
    vertical-align: middle;
    position: relative;
}

.option:hover {
    cursor: pointer;
}